# CDBS Programming Test  
If you are familiar with the Jupyter environment, you can use this notebook to complete the programming test.  Once you have completed the test, you can either:
  1. Save the notebook as a PDF or HTML file and email the file to us. 
  2. Upload the notebook to your own GitHub repository and send us a link to the notebook.  

If you decide to upload the notebook to GitHub, please use the [NBViewer](https://nbviewer.org/) website to create a URL for your notebook.

The `pandas` and `sqlite3` libraries have already been referenced in the notebook. It is your responsibilty to ensure the libraries are installed on your system. You can reuse the `conn` object to excute SQL queries.

In [1]:
import pandas as pd
import sqlite3

**Connect to the drug  information database**

In [2]:
conn = sqlite3.connect('../data/drug_info.db')

**You can use the `conn` connection object to execute SQL queries and display results like this.**

In [3]:
pd.read_sql('select * from prescription limit 5', conn)

   Prscrbr_NPI             Brnd_Name              Gnrc_Name
0   1003004573           Allopurinol            Allopurinol
1   1003004573   Amlodipine Besylate    Amlodipine Besylate
2   1003004573  Atorvastatin Calcium   Atorvastatin Calcium
3   1003004573            Carvedilol             Carvedilol
4   1003004573           Clopidogrel  Clopidogrel Bisulfate

---

### Excercise 1 
**Write SQL queries to find out how many rows are in the `provider` and `prescription` tables.**

---

### Excercise 2 
**Write an SQL query that uses the `Prscrbr_Type` field in the `provider` table to find the unique provider types.**

---

### Excercise 3 
**Write an SQL query to get a count for each of the unique provider types.**

---

### Excercise 4 
**Write an SQL query that uses the `Prscrbr_Type` field in the `provider` table to create a subset of the `prescription` table that only includes prescriptions made by dental providers with the following specialties:**
- **Dentist**
- **Maxillofacial Surgery**
- **Oral & Maxillofacial Surgery**
- **Oral Surgery (Dentist only)**

**Save the results into a dataframe. This dataframe will be used in other exercises.**

---

### Excercise 5 
**Using the dataframe from *Excercise 4*, group the data by the `Brnd_Name` column and report how many brands are in each group.**   
**Report top 5 highest brand names.**

---

### Excercise 6  
**Write an SQL query to output the same information produced in Excercise 5.**

---

### Excercise 7  
**Write an SQL query to determine how many records in the `provider` table have a null value in the `Tot_Benes` field.**

---

### Excercise 8  
**Use a dataframe to determine how many records in the `provider` table have a null value in the `Tot_Benes` field.**

---

### Excercise 9  
**In the `drug_name` table, the `Opioid Flag` field indicates if a drug is an opioid; Y = yes, N = no.**  
**Use this information to write an SQL query that find the 10 most prescibed brand name (i.e., `Brnd_Name`) opioids in the `prescription` table, and provide a count of each brand name.**

---

## Exercise 10   
**Use a dataframe to find the information asked for in Excercise 9.**

---

### Excercise 11  
**Using the dataframe from *Exercise 4* that subsetted the prescriptions by speciality, find the opioids prescribed for each specialty.**

---

## Exercise 12   
**Write an SQL query that produces the same information asked for in *Excercise 11*.**